@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.navbar {
  /* border: 2px solid rebeccapurple; */
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 175px;
}
.navbar h4 {
  font-size: 20px;
}
.navbar ul {
  display: flex;
  /* border: 2px solid gold; */
  width: 600px;
  justify-content: center;
  gap: 70px;
  font-size: 20px;
}

.navbar ul li {
  float: left;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: 100;
}

/* Styling for the Home page Styling Left Side */

.home-page {
  /* border: 1px solid red; */
  width: 100vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.home-page .left-home-content {
  /* border: 1px dotted black; */
  width: 400px;
  height: 360px;
}

.home-page .left-home-content h1 {
  font-size: 60px;
  color: rgb(45, 46, 50);
  font-weight: 700;
}

.home-page .left-home-content p {
  font-size: 34px;
  font-weight: 100;
  color: #1e293b;
}

.home-page .left-home-content h6 {
  font-size: 18px;
  font-weight: 400;
  color: #334155;
}

.home-page .left-home-content img {
  margin-top: 12px;
  margin-left: 3px;
  opacity: 0.6;
}

.about-page {
  /* border: 4px solid red; */
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 100px;
  background-color: #c8ddee2f;
}

.about-page .left-about-content h1 {
  color: #004d8c;
  font-size: 1.2rem;
  margin-top: 10px;
}

.about-page .left-about-content h3 {
  font-size: 30px;
  color: rgb(45, 46, 50);
  margin-bottom: 5px;
}

.about-page .left-about-content .about-slogan-one {
  font-weight: 300;
  font-size: 18px;
}

.about-page .left-about-content .about-slogan-two {
  font-weight: 300;
  font-size: 18px;
  margin-top: 15px;
}
@media screen and (width<440px) {
  .navbar {
    /* background-color: red; */
    gap: 70px;
  }
  .navbar h4 {
    font-size: 15px;
  }
  .navbar ul {
    display: none;
  }
  .home-page {
    flex-direction: column-reverse;
    margin-top: 280px;
    margin-bottom: 20px;
    gap: 10px;
  }
  .home-page .left-home-content h1 {
    font-size: 50px;
    text-align: center;
  }

  .home-page .left-home-content .hi-button {
    text-align: center;
  }

  .home-page .left-home-content h6 {
    text-align: center;
  }

  .home-page .left-home-content .img-linkedin {
    margin-left: 160px;
    margin-top: 15px;
  }

  .about-page {
    flex-direction: column;
    margin-top: 300px;
    justify-content: center;
    padding: 10px;
    align-items: center;
    gap: 0;
    height: 800px;
  }
  .about-page .left-about-content h3 {
    font-size: 25px;
  }
}
